
//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";
@import "polygons.less";

@navbar-margin-bottom: 0px;
@jumbotron-padding: 10px;
@jumbotron-height: 600px;

@footer-background-color: #202020;
@footer-text-color: #e6e6e6;

@navbar-default-toggle-border-color: @locarise-black;
@navbar-default-toggle-icon-bar-bg: @locarise-logo-text;


body {
  font-family: "Open Sans",'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
  font-size: 14px;
}

hr {
    border: none;
    /* top    */ border-top: 1px solid #000000;
    /* middle */ background-color: #363636; color: #363636;
    height: 1px;
    *height: 2px; /* IE6+7 need the total height */
}

.navbar {
  border: @footer-text-color;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  // custom conainter in navbar to fix jumping menu
  @media (max-width: @screen-md-min) {
    .container {
      width: @container-sm + 20px;
    }
  }
}

.navbar-logo {
  float: left;
  padding: 10px;

  @media (min-width: @grid-float-breakpoint) {
    .navbar > .container & {
      margin-left: -@navbar-padding-horizontal;
    }
  }
}

// Navbar brand with 40px square logo (hence fixed line-height and padding)
.navbar-brand {
  color: @locarise-logo-text;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 40px;
  padding: 10px 15px;

  a {
    text-decoration: none;
    &:hover,
    &:focus  {
      color: @locarise-logo-text;
    }
  }
}

.navbar-nav {
  font-size: 17px;
  li {
    a {
      color: @locarise-black;
      margin-right: 10px;
      margin-left: 10px;
      text-shadow: none;
    }
  }
}

.get-started {
  .pentagon (#000000, #ffffff, 160px);
}

.social-btn {
  list-style: none;
  margin-bottom: 20px;
  display: inline-block;

  li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
  }
}

.jumbotron {
  padding-bottom: 20px;
  background: #D6E6E9;
  background-image: linear-gradient(bottom, rgb(241,244,245) 5%, rgb(178,211,216) 95%);
  background-image: -o-linear-gradient(bottom, rgb(241,244,245) 5%, rgb(178,211,216) 95%);
  background-image: -moz-linear-gradient(bottom, rgb(241,244,245) 5%, rgb(178,211,216) 95%);
  background-image: -webkit-linear-gradient(bottom, rgb(241,244,245) 5%, rgb(178,211,216) 95%);
  background-image: -ms-linear-gradient(bottom, rgb(241,244,245) 5%, rgb(178,211,216) 95%);
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.05, rgb(241,244,245)),
      color-stop(0.95, rgb(178,211,216))
  );
  height: @jumbotron-height;

  p {
    width: 290px;
    font-size: @font-size-base;
  }

  h1 {
    color: #ffffff;
    font-size: 38px;
    font-weight: 600;
  }

  h2 {
    line-height: 40px;
    font-size: 19px;
    font-weight: 600;
  }

  .subtitle {
    color: #ffffff;
    font-size: 38px;
    font-weight: 300;
    margin-top: -10px
  }
}

.footer {
  background-color: @footer-background-color;
  color: #cbcbcb;
  padding-top: 100px;
  padding-bottom: 20px;

  h3 {
    color: @footer-text-color;
    font-weight: 600;
    margin-top: 10px;
  }

  strong {
    color: @footer-text-color;
  }

  label {
    font-weight: @text-font-weight;
  }

  a {
    color: @gray;
    &:hover,
    &:focus  {
      color: @locarise-blue;
    }
  }

  .form-control {
    background-color: @footer-background-color;
    border: 1px solid #878787;
  }

  .mail {
    color: @footer-text-color;
  }
}

.push-top-lg {
  padding-top: 36px;

  @media (max-width: @screen-md-min) {
    padding-top: 20px;
  }

  @media (max-width: @screen-sm-min) {
    padding-top: 0px;
  }

}
