//
// Hexagons & Pentagons
// --------------------------------------------------


// Hexagons
// -------------------------

@hexagon-width: 35px;
@hexagon-height: 20px;

.hexagon (@color) {
  width: @hexagon-width;
  height: @hexagon-height;
  margin-top: @hexagon-height/2;
  margin-right: 9px;
  margin-left: 5px;
  background: @color;
  text-align:center;
  position: relative;
  float: left;
  color: #ffffff;
  line-height: @hexagon-height;
  :before {
    content: "";
    position: absolute;
    top: -@hexagon-height/2;
    left: 0;
    width: 0;
    height: 0;
    border-left: @hexagon-width/2 solid transparent;
    border-right: @hexagon-width/2 solid transparent;
    border-bottom: @hexagon-height/2 solid @color;
  }
  :after {
    content: "";
    position: absolute;
    bottom: -@hexagon-height/2;
    left: 0;
    width: 0;
    height: 0;
    border-left: @hexagon-width/2 solid transparent;
    border-right: @hexagon-width/2 solid transparent;
    border-top: @hexagon-height/2 solid @color;
  }
}

.hex1 {
  .hexagon(@locarise-light-gray);
}

.hex2 {
  .hexagon(@locarise-blue);
}

.hex3 {
  .hexagon(@locarise-dark-blue);
}



// Pentagons
// -------------------------

.pentagon (@background-color, @text-color, @width) {
  padding-bottom: 10px;
  width: @width;
  height: @navbar-height;
  background: @background-color;
  position: relative;
  :after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 80px dotted transparent;
    border-right: 80px dotted transparent;
    border-top: 25px solid @background-color;
  }
  a {
    color: @text-color !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin: 0px !important;
    &:hover,
    &:focus {
      background-color: transparent !important;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
