---
layout: home
title: Bootstrap
base_url: "./"
---

<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1>Locarise Bootstrap</h1>
    <p class="lead">Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
    <p>
      <a href="{{ site.download_dist }}" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download {{ site.current_version }}']);">Download Bootstrap</a>
      <a href="{{ site.download_source }}" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download {{ site.current_version source }}']);">Download source</a>
    </p>
  </div>
</main>
